/**
 * Search results.
 ============================================================================ */

.item-list--search-results {}

.view-header, .view__collection-count {}

.search-results {}

.facets-widget-links {}

.facet-item {}

.facet-item__status_nonactive .facet-item__value,
.facets-soft-limit-link {
  max-width: 100%;
  overflow: hidden;
  border-bottom: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    border-bottom-style: none;
  }
}

a.facets-soft-limit-link {
  font-weight: 700;
}

// Search views List/Grid
.view-list,
.view-grid {
  .node__details {}
}

.view-list {
  .node__content {}
}

// Search views List/Grid

.node__details {
  .view-list .views-row {
     .views-label {
      font-weight: 700;
    }
  }
}

.view-grid .search-results__content {
  @media #{$tablet} {}
}

// Homepage, Browse Content Teaser
.path-frontpage,
.path-browse-collections {
  .view-list .node__details {}
}

.path-browse-collections {
  .search-results__header .sort__container {}
}

// Prevent contextual menu links from breaking grid layouts
//.contextual, div[data-contextual-id] {position:absolute;z-index:500;top:-16px;right:0;}